html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  background-color: #5a5b60;
}

.calculator {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  background-color: #a0a3ae;
  border-radius: 5px;
  width: 400px;
  height: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px #00000021;
}

.display {
  background-color: #ecedef;
  flex-basis: 100px;
  margin-bottom: 4px;
  border-radius: 5px;
  box-shadow: 2px 2px #0000002d;
}

.button-container {
  flex-grow: 2;
  display: flex;
  background-color: #a0a3ae;
}

.container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.function-container {
  padding: 1px;
  gap: 2px;
}

.function-container > .separator {
 background-color: #a0a3ae;
 padding: 1px;
}

.separator {
  display: flex;
  flex-basis: 100%;
  padding: 2px;
  gap: 4px
}

button {
  flex-basis: 100%;
  background-color: #c6c8ce;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px #0000002d;


}

.digit-container {
  
}


.display {
  overflow: hidden;
  font-size: xx-large;
  color: black;
  display: flex;
  flex-wrap: wrap;
}