html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  background: linear-gradient(180deg, #7d7d80, #5a5b60 );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.calculator {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  background: linear-gradient(180deg, #a0a3ae,#9c9fa9);
  border-radius: 5px;
  width: 400px;
  height: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px #00000021;
}

.display {
  background: linear-gradient(180deg, #ecedef, #cdcdd0 );
  flex-basis: 100px;
  margin-bottom: 4px;
  border-radius: 5px;
  box-shadow: inset 3.5px 3.5px #00000061;
  overflow: hidden;
  font-size: xx-large;
  color: black;
  display: flex;
  flex-wrap: wrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button-container {
  flex-grow: 2;
  display: flex;
  background-color: #a0a3ae;
}

.container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.function-container {
  padding: 1px;
  gap: 2px;
}

.function-container > .separator {
 background-color: #a0a3ae;
 padding: 1px;
}

.function-container > .separator > button {
  background: linear-gradient(180deg,   #5a5b60,  #4d4d51 );
  color: white;
 }

.separator {
  display: flex;
  flex-basis: 100%;
  padding: 2px;
  gap: 4px
}

button {
  flex-basis: 100%;
  background: linear-gradient(180deg,  #c6c8ce, #b1b2b9 );
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px #0000002d;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ecedef;
}